<div class="circle-container">
  <a href="<%= url('/work/prism') %>">
    <img src="images/prism/PrismSlantCover.jpg"  alt="Prism Cover">
  </a>  
</div>
<div class="circle-container">
</div>  
<div class="circle-container">
</div>

<br>

<div class="circle-container">
</div>
<div class="circle-container">
</div>  
<div class="circle-container">
</div> 

<br>

<div class="circle-container">
</div>
<div class="circle-container">
</div>  
<div class="circle-container">
</div> 
