<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title><%= @title + ' | Naths' %></title>
    <link href="stylesheets/normalize.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Naths site</h1>
        <h2>designerrr</h2>
      </hgroup>
    </header>

    <div id="main">
      <%= yield %>
    </div>

    <footer>

    </footer>
  </body>
</html>