// Sass files containing all the parameters

// Width of the page
$page-width: 950px;

// Font details
$site-font: 'PT Sans', sans-serif;
$site-fontsize: 14px;

// Colours details
$site-background: #E7E8EA;
//$site-background: #FFFFFF;
$site-foreground: #BCBDBF;
$link-hover: #ACAEB0;
