// Sass file for the global styling of the HTML pages

// Defines the parameters for the HTML and body
html, body {
  margin: 0;
  padding: 0;
//  height: 100%;
  font-family: $site-font;
  font-size: $site-fontsize;
  background-color: $site-background;
}

// The main container element
.page-container {
  //min-height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  // The distance from the top of the page to the elements
  margin-top: 40px;
  width: $page-width;
}

// Header styling options
.header {

}

// The logo used on the site
.logo {
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;    
}

// The sidebar containing the logo and links
.sidebar {
  float: left;
  //min-height: 100%;
  //height: 100%;
  width: $sidebar-width;
}

// An item on the sidebar
.sidebar-item {
  font-size: 20px;
  text-align: center;
  margin: 0 0;
}

// A link on the sidebar
.sidebar-item a {
  text-decoration: none;   
  color: $site-foreground;
}

// The horizontal rulers on the sidebar
.sidebar-item hr {   
  width: 35px;
  margin-top: 9px;
  margin-bottom: 15px;
  border: 0;
  height: 1px;
  background: $site-foreground;
  background-image: -webkit-linear-gradient(left, #ccc, $site-foreground, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, $site-foreground, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, $site-foreground, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, $site-foreground, #ccc); 
}

// Hovering on the links
.sidebar-item a:hover {
  color: $link-hover;
}

// The content of the page
.content {
  float: right;
  width: $content-width;
}

// Containers for the circle elements
.circle-container {
  display: inline-block;
  width: $circle-size;
  height: $circle-size;
  overflow: hidden;
  margin-left: 40px;
  margin-bottom: 40px;
  background: $circle-colour;
  -moz-border-radius: $circle-size / 2;
  -webkit-border-radius: $circle-size / 2;    
  text-align: center;
}

// The images in the circles
.circle-container img {
  max-height: 300px;
  max-width: 300px;
  margin-left:50%;
  margin-top:50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

// The footer element
.footer {

}
